<!--
 ! Copyright 2016-Present Couchbase, Inc.
 !
 ! Use of this software is governed by the Business Source License included
 ! in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
 ! in that file, in accordance with the Business Source License, use of this
 ! software will be governed by the Apache License, Version 2.0, included in
 ! the file licenses/APL2.txt.
 !-->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>